{% extends 'base.html' %}

{% block title %}Art Xplorer{% endblock %}



{% block content %}

<div class="container" style="width: 80%; height: 100%">
<img src="/static/ART-XPLRER_crop.jpg" height="200px">
<h2>Art Xplorer - Art Work Details</h2>
<h4>{{ art_info.title }}</h4>
<span class="glyphicon glyphicon-user"></span><b>  Artist Name:</b> {{ art_info.artist }}<br>
<span class="glyphicon glyphicon-gift"></span><b>  Credit:</b> {{ art_info.credit_line }}<br>
<span class="glyphicon glyphicon-flag"></span><b>  Location:</b> {{ art_info.location_description }}<br>
<span class="glyphicon glyphicon-pencil"></span><b>  Medium:</b> {{ art_info.medium }}<br>
<span class="glyphicon glyphicon-home"></span><b>  Address:</b> {{ art_info.address }}<br>
</div>

{% endblock %}