<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="">
  <title>{% block title %}{% endblock %}</title>

  <!-- CSS from bootsrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="/static/style.css" rel="stylesheet">

  <!-- JS files from google maps, bootstrap, datatables -->
  <script src ='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  {% block css %}
  {% endblock %}

</head>

<b><div class="container">
<!-- Show flashed messages -->
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         <blockquote class="bg-success">{{ message }}</blockquote>
      {% endfor %}
   {% endif %}
{% endwith %}
</div></b>

<!-- Insert body text here -->
{% block content %} put your content here {% endblock %}

{% block javascript %}
{% endblock%}

</body>
</html>