{% extends 'base.html' %}

{% block title %}Art Xplorer{% endblock %}

{% block css %}

    <style>
        /* Percentage-based sizes must inherit from parent block elements, and
        if any of those ancestors fail to specify a size, they are assumed to be
        0 x 0 pixels; therefore, html and body must specify a size for #map to
        have height as a percentage. */
        html, body {
            height: 100%;
        }

        .row, .container-fluid {
            height: 100%;
        }

        #map {
            /*height: 92.67%;*/
            height: 50%;
        }
        #directions-panel{
            height: 50%;
            overflow: scroll;
        }
    </style>

{% endblock %}

{% block content %}


    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-12" id="map"></div>
        <div class="col-xs-12 col-md-6 col-md-offset-3" id="directions-panel"></div>

      </div><!-- close row -->
    </div><!-- close container -->

{% endblock %}

{% block javascript %}
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQOKqWyayHzhpVSWddS3M9iy5a4X072Ug&v=3&libraries=places"></script>

<script type="text/javascript">
    var map;
    var latitude = {{ lat }};
    var longitude = {{ lng }};

    var initialLocation = new google.maps.LatLng(latitude, longitude);

    function init(){
        initMap();
    }

    function initMap(){

        var directionsDisplay = new google.maps.DirectionsRenderer({suppressInfoWindows:true, suppressMarkers:true});
        var directionsService = new google.maps.DirectionsService();

        // Create a map object and specify the DOM element for display.
        map = new google.maps.Map(document.getElementById('map'), {
            center: initialLocation,
            zoom: 12,
            mapTypeControl: false,
            streetViewControl: false,
        });

        // directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directions-panel'));

        calculateAndDisplayRoute(directionsService, directionsDisplay);
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var start = initialLocation;
        var end = initialLocation;
        var waypts = [];

        console.log("IM IN CALCROUTE")

        var mapInputs = {
            'latitude': latitude,
            'longitude': longitude
        };
        
        $.get('/map.json', mapInputs, get_waypoints);
        function get_waypoints(data){
            console.log(data);

            var responseWaypoints = data.waypoints;

            for (var i = 0; i < responseWaypoints.length; i++) {
                waypts.push({
                    location: responseWaypoints[i],
                    stopover: true,
                   
                });
              }
    
        directionsService.route({
          origin: start,
          destination: end,
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'WALKING',
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
            directionsDisplay.setMap(map);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });

        makeMarkersAndReport(data);

        function makeMarkersAndReport(data) {

    var startermarker = new google.maps.Marker({
            position: initialLocation,
            icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
            map: map
        });

    var markerInfo = data.art_info;
    makeAndSetMarkers(markerInfo);

    console.log(markerInfo);
    console.log(markerInfo.length);

}

function makeAndSetMarkers(markerInfo) {

    for (var i = 0; i < markerInfo.length; i++) {

        var datapoint = markerInfo[i];
        var markerLatLng = new google.maps.LatLng(datapoint.lat, datapoint.lng);
        var contentString = makeContentString(datapoint);

        var marker = new google.maps.Marker({
            position: markerLatLng,
            map: map
        });

        // Make infoWindows.
        var infoWindow = new google.maps.InfoWindow();
        bindInfoWindow(marker, map, infoWindow, contentString);
    }
}

function bindInfoWindow(marker, map, infoWindow, contentString) {
    // When a marker is moused-over, set the content for the info window with
    // the string that's passed through, and then open the window with the new
    // content above that marker.

   google.maps.event.addListener(marker, 'click', function () {
        infoWindow.setContent(contentString);
        infoWindow.open(map, marker);
    });

    // When a marker is moused-out, close the info window.

    // google.maps.event.addListener(marker, 'click', function () {
    //     infoWindow.close();
    // });
}

function makeContentString(datapoint) {
    // Write contentString for infoWindow depending on forecast status.

    var contentString;

    contentString = "<b>" + datapoint.arttitle + "</b><br><i>" + datapoint.artist + "</i><br>" + datapoint.medium + "<br>" + "<a href='/artinfo/" + datapoint.artwork_id + "' target='_blank'>Details</a>"
    
    return contentString;
}
    }
}

    google.maps.event.addDomListener(window, 'load', init);
</script>

{% endblock%}
