{% extends 'base.html' %}
{% block title %}Art Xplorer{% endblock %}
{% block content %}

<!-- Google Map -->
<div class="container" style="height: 80%">
  <div id="homepage-map" style="height: 80%"></div>
</div>

<script type="text/javascript">

'use strict';

// Global variables for Google Maps
var map;
var sanFrancisco = {lat: 37.7749, lng: -122.431297}; 
var markersArray = [];

// Create map upon page load
function initMap() {
  map = new google.maps.Map(document.getElementById('homepage-map'), {
    center: sanFrancisco,
    zoom: 14
  });
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ gkey }}&callback=initMap"
async defer></script>

{% endblock %}